@media (max-width: 1060px){
    header{
        width: 100%;
        display: flex;
        background: #23252B;
      }
      .logo > img{
        width: 60px;
        height: 60px;
        top: 16%;
        left: 2%;
        position: absolute;
      }
      .botoes li a:not(#botao-mapa) {
        display: none;
      }
      #botao-mapa{
        top: 86%;
        left: 65%;
        position: absolute;
        width: 120px;
        height: 45px;
      }
      #mapa{
        top: 60%;
      }
      #container{
        top: 26%;
        left: 0%;
        position: absolute;
      }
      svg{
        width: 100%;
      }
}