@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor-fundo: rgb(0, 0, 0);
    --cor-hover: rgb(20, 218, 224);
    --cor-primaria: rgb(231, 241, 236);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  padding: 15px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

header{
    background-image: url("https://media.tenor.com/f0cKyHniahEAAAAC/background-khaoticfuture.gif");
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #23252B;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  transition: 0.6s;
}

.logo > img{
  width: 60px;
  height: 60px;
  top: 1%;
  left: 2%;
  position: absolute;
}

nav .navigation{
  position: relative;
  line-height: 75px;
  transition: 0.6s;
  transition-property: line-height;
}

nav.sticky .navigation{
  line-height: 60px;
}

nav .navigation .menu{
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none;
}

.search-box{
  top: 1.5%;
  left: 75%;
  background-color: rgba(0, 162, 255, 0.541);
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  border-radius: 40px;
}

.search-txt{
  border: none;
  outline: none;
  background: none;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  color: white;
  width: 0;
  transition: .5s;
  font-family: 'Open-sans';
}

::-webkit-input-placeholder{
  color: white;
}

.search-btn{
  width: 40px;
  height: 35px;   
  border-radius: 50%;
  background-color: #0833f3e5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}

.search-box:hover > .search-btn{
  background-color: #00335a;
}

.menu-item > a{
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  margin: 20px;
  padding: 25px 0;
}

.menu-item > a:hover{
  color: #469DFF;
  transition: 0.3s;
}

.menu-item .sub-menu .sub-item:hover{
  background: #4080EF;
}

.menu-item .sub-menu .sub-item:last-child:hover{
  border-radius: 0 0 8px 8px;
}

.more .more-menu .more-item:hover{
  background: #4080EF;
}

.menu-btn{
  display: none;
}

body{
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    background-color: #EFF7FF;
}

button {
    cursor: pointer;
}

table{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}

thead th{
  background-color: #02afe2;
}

th {
  border: 1px solid black;
  text-align: center;
  width: 308px;
  height: 50px;
  color: white;
}

td{
  padding: 15px;
  border: 1px solid black;
  text-align: center;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}